ToDoSOAPCli-ws/src/main/wsdl/ToDoSOAPCliService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ToDows.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ToDows.bigws/" name="ToDoWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ToDows.bigws/" schemaLocation="ToDows.xsd"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="mostrar">
<part name="parameters" element="tns:mostrar"/>
</message>
<message name="mostrarResponse">
<part name="parameters" element="tns:mostrarResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="buscar">
<part name="parameters" element="tns:buscar"/>
</message>
<message name="buscarResponse">
<part name="parameters" element="tns:buscarResponse"/>
</message>
<portType name="ToDoWebService">
<operation name="add">
<input wsam:Action="http://ToDows.bigws/ToDoWebService/addRequest" message="tns:add"/>
<output wsam:Action="http://ToDows.bigws/ToDoWebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://ToDows.bigws/ToDoWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ToDows.bigws/ToDoWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="mostrar">
<input wsam:Action="http://ToDows.bigws/ToDoWebService/mostrarRequest" message="tns:mostrar"/>
<output wsam:Action="http://ToDows.bigws/ToDoWebService/mostrarResponse" message="tns:mostrarResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ToDows.bigws/ToDoWebService/mostrar/Fault/FileNotFoundException"/>
</operation>
<operation name="buscar">
<input wsam:Action="http://ToDows.bigws/ToDoWebService/buscarRequest" message="tns:buscar"/>
<output wsam:Action="http://ToDows.bigws/ToDoWebService/buscarResponse" message="tns:buscarResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ToDows.bigws/ToDoWebService/buscar/Fault/FileNotFoundException"/>
</operation>
</portType>
<binding name="ToDoWebServicePortBinding" type="tns:ToDoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ToDoWebServiceService">
<port name="ToDoWebServicePort" binding="tns:ToDoWebServicePortBinding">
<soap:address location="http://localhost:8080/ToDows"/>
</port>
</service>
</definitions>